<div class='row'>

  <div class='col-md-4 col-md-offset-1'>
    <div class='well' id='bb-analysis-details'>
    </div>
  </div>

  <div class='col-md-7'
      style='overflow-x: hidden;
      overflow-y: scroll;
      max-height: 450px'>

    <div class='row'>

      <div class='col-md-6'>
        <div class='well bb-analysis'
            id='bb-analysis-basic'
            data-detailsviewname="templateBasic">
        </div>
      </div>

      <div class='col-md-5'>
        <div class='well bb-analysis'
            id='bb-analysis-interval'
            data-detailsviewname="templateInterval">
        </div>
      </div>

    </div>

    <div class='row'>

      <div class='col-md-6'>
        <div class='well bb-analysis'
            id='bb-analysis-meter'
            data-detailsviewname="templateMeter">
        </div>
      </div>

      <div class='col-md-5'>
        <div class='well bb-analysis'
            id='bb-analysis-symmetry'
            data-detailsviewname="templateSymmetry">
        </div>
      </div>

    </div>

    <div class='row'>

      <div class='col-md-6'>
        <div class='well bb-analysis'
            id='bb-analysis-evenness'
            data-detailsviewname="templateEvenness">
        </div>
      </div>

      <div class='col-md-5'>
        <div class='well bb-analysis'
            id='bb-analysis-onset'
            data-detailsviewname="templateOnset">
        </div>
      </div>

    </div>

  </div>

</div>
