<div class="rhythm" rhythm-str="<%= rhythm.get("rhythm_str") %>">
  <%= rhythm.get("rhythm_str") %>, by <%= rhythm.get("creator_id") %>
  <div class="mini-rhythm-ring" rhythm-str="<%= rhythm.get("rhythm_str") %>"></div>
</div>
