<container>

  <div class='row'>



<container>

<ul>
<% rhythms.each(function(rhythm) { %>
  <li class='rhythm' data-id='<%= rhythm.id %>'>
      <%= rhythm.get("rhythm_str") %>
    </a>
  </li>
<% }); %>
</ul>
