<% form_action = new_user ? users_url : session_url %>
<% form_message = new_user ? "Sign Up" : "Sign In" %>

<h1><%= form_message %></h1>

<form action="<%=form_action%>" method="POST" >
  <input type="hidden"
  name="authenticity_token"
  value="<%=form_authenticity_token%>">

  <br>
  <label>Username
    <input name="user[email]">
  </label>

  <br>
  <label>Password
    <input type="password" name="user[password]">
  </label>

  <br>
  <input type="submit" value="<%= form_message %>">
</form>
