<span class="analysis-title a-t-evenness" data-detailsviewname="templateEvenness"><h5 class='a-t-evenness'>evenness</h5></span>

<canvas id='evenness-canvas' height='120' width='<%= windowWidth %>'></canvas>
