<span class="analysis-title"><h5>evenness</h5></span>

<div class="fillErUp"></div>

<canvas id='evenness-canvas' height='120' width='<%= windowWidth %>'></canvas>

<span class="info-icon" data-detailsviewname="templateEvenness">i</span>
