<h4>Onset</h4>

    <li>adjacent interval content entropy: <%= rhythm.get("adjacent_interval_content_entropy") %></li>
  <li>onset_distinct_distance_complexity: <%= rhythm.get("onset_distinct_distance_complexity") %></li>
  <li>shelling_count: <%= rhythm.get("shelling_count") %></li>
  <li>adjacent interval content: <%= rhythm.get("adjacent_interval_content") %></li>
