<span class="analysis-title a-t-symmetry" data-detailsviewname="templateSymmetry"><h5 class='a-t-symmetry'>symmetry</h5></span>
<div class='symmetry-rhythm-ring'
  rhythm-str="<%= rhythm.get("rhythm_str") %>">
  <canvas class='symmetry-polygon-canvas' height='150' width='150'></canvas>

</div>
