<span class="analysis-title" data-detailsviewname="templateSymmetry"><h5>symmetry</h5></span>
<div class='symmetry-rhythm-ring'
  rhythm-str="<%= rhythm.get("rhythm_str") %>">
  <canvas class='symmetry-polygon-canvas' height='150' width='150'></canvas>

</div>
<!--<span class="info-icon" data-detailsviewname="templateSymmetry">i</span>-->
