div.rhythm:hover {
  cursor: pointer;
  background-color: Cornsilk;
}

div.rhythm {
  float: left;
  min-height: 111px;
  min-width: 180px;
  margin: 10px;
  background-color: #eee;
  position: relative;
}

.glyphicon {
  font-size: 24px
}

.mini-rhythm-ring {
  position: absolute;
  width: 89px;
  height: 89px;
  border: solid 1px;
  border-radius: 50%;
  z-index: 0;
  left: 10px;
  top: 10px;
}

.mini-cell {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px;
  background-color: white;
  color: #333;
  position: absolute;
  transform-origin: 35px 35px;
}

div.rhythm i {
  position: absolute;
  top: 42px;
  left: 43px;
  visibility: hidden;
}

div.rhythm:hover i {
  visibility: visible;
}

div.rhythm i:hover {
  color: DodgerBlue;
}
