//While I should have used good CSS practice throughout the project,
//I rushed through it. Thus this is extremely wet. I do intend to fix soon.

#onsetsAndRestSeq {
  float: right;
  position: absolute;
  margin: 20px 120px;
  z-index: 1;
}

container {
  width: 100%;
  position: relative;
}

.wrapper {
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  width: 300px;
  height: 300px;
}

// .polygon-canvas {
//   position: absolute;
//   z-index: 2;
// }

#polygon-analysis-canvas {
  position: absolute;
  display: none;
  top: 0px;
  z-index: 3;
}

.rhythm-ring {
  position: absolute;
  width: 300px;
  height: 300px;
  border: solid 2px;
  border-radius: 50%;
  z-index: 0;
}

.cell {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 2px;
  background-color: white;
  color: #333;
  position: absolute;
  transform-origin: 116px 116px;
  transition: transform 0.5s;
  //transition: background-color 0.1s; //this slows down site to uselessness, though it looks nice!
  opacity: 1.0;
  transform: scale(1);
}

.cell-label {
  position: absolute;
  transform-origin: 120px 120px;
  color: #333;
}

.cell-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 2px;
  background-color: white;
  color: #333;
  position: absolute;
}

.disappeared {
  width: 0px;
  height: 0px;
  transform-origin: -0px -0px;
}

.cell:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px #ff9800;
}

.intercell:hover {
  cursor: pointer
}

.cell-handle:hover {
  cursor: pointer
}

.onset:not(.grabbed){
  background-color: #456B87;
}

.onset {
  background-color: #456B87;
}

.intercell {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
  position: absolute;
  transform-origin: 121px 121px;
  transition: transform 0.5s;
  display: hidden;
}

.intercell-area {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  transform-origin: 113px 113px;
  transition: transform 0.5s;
  display: hidden;
}

body {
  background-color: gray;
}

.wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%)
}

.backdrop img {
  // background: url(images/backgrounds/white-construction-paper-texture.jpg) no-repeat center center fixed;
  background-size: cover;
  float: left;
  z-index: 0;
}

.slider {
  position: absolute;
  float: right;
  z-index: 4;
  width: 100px;
  height: 100px;
}

.slider span {
  width: 100px;
  height: 100px;
}

button {
  left: 120px;
}

interface {
  position: absolute;
  left: 50px;
}

.cell-handle.ui-draggable-dragging {
  opacity: 1;
}

.cell-label {
  opacity: 0;
  transition: opacity 0.2s;
}

.well {
  display: block;
}

.cell-handle.onset.activated {
  background-color: #5DA2D6;
}

.cell-handle.activated {
  background-color: #C4DDF0;
}

.cell.onset.activated {
  background-color: #5DA2D6;
}

.cell.activated {
  background-color: #C4DDF0;
}
