#onsetsAndRestSeq {
  float: right;
  position: absolute;
  margin: 20px 120px;
  z-index: 1;
}

container {
  width: 100%;
  position: relative;
}

.wrapper {
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  width: 300px;
  height: 300px;
}

.polygon-canvas {
  position: absolute;
  z-index: 2;
}

.rhythm-ring {
  position: absolute;
  width: 300px;
  height: 300px;
  border: solid 2px;
  border-radius: 50%;
  z-index: 0;
}

.cell {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 2px;
  background-color: white;
  color: black;
  position: absolute;
  transform-origin: 116px 116px;
  transition: transform 0.5s;
  //transition: background-color 0.1s; //this slows down site to uselessness, though it looks nice!
  opacity: 1.0;
  transform: scale(1);
}

.cell-label {
  position: absolute;
  transform-origin: 120px 120px;
  color: black;
}

.cell-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 2px;
  background-color: white;
  color: black;
  position: absolute;
}

.disappeared {
  width: 0px;
  height: 0px;
  transform-origin: -0px -0px;
}

.cell:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px #3e4b60;
}

.intercell:hover {
  cursor: pointer
}

.cell-handle:hover {
  cursor: pointer
}

.onset:not(.grabbed){
  background-color: black;
}

.onset {
  background-color: black;
}

.intercell {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
  position: absolute;
  transform-origin: 121px 121px;
  transition: transform 0.5s;
  display: hidden;
}

.intercell-area {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  transform-origin: 113px 113px;
  transition: transform 0.5s;
  display: hidden;
}

body {
  background-color: white;
}

.wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%)
}

.backdrop img {
  // background: url(images/backgrounds/white-construction-paper-texture.jpg) no-repeat center center fixed;
  background-size: cover;
  float: left;
  z-index: 0;
}

.slider {
  position: absolute;
  float: right;
  z-index: 4;
  width: 100px;
  height: 100px;
}

.slider span {
  width: 100px;
  height: 100px;
}

button {
  //position: absolute;
  left: 120px;
}

interface {
  position: absolute;
  left: 50px;
}

.cell-handle.ui-draggable-dragging {
  opacity: 1;
}

.cell-label {
  opacity: 0;
  transition: opacity 0.2s;
}

.well {
  display: block;
}

/////////

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal-form {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -220px;
  width: 360px;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer;
}

.modal-close:hover {
  color: #f00;
}

.modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.modal-form > p {
  margin: 0 0 20px 0;
}
