span.deets_link {
  color: #439a46;
  font-size: 12px;
}

span.deets_link:hover {
  cursor: pointer;
  color: #57CD4A;
}

span.view-creations {
  color: #439a46;
  font-size: 12px;
}

span.view-creations:hover {
  cursor: pointer;
  color: #57CD4A;
}

span.view-likes {
  color: #58846B;
  font-size: 12px;
}

span.view-likes:hover {
  cursor: pointer;
  color: #57CD4A;
}

interface button {
  margin: 5px 0px;
}

// .bb-info {
//   overflow: scroll;
//   // max-height: 800px;
// }

// .well.scrollable {
//   // overflow: scroll;
//   max-height: 500px;
// }

*{font-family: 'Maven Pro', sans-serif;}

navbar-right li {
  float: right;
  position: absolute;
  top: 30px;
  padding: 0px 10px;
  cursor: pointer;
}

li .give-me-space {
  margin: 10px;
}

navbar-right ul {
  position: relative;

}

navbar-right:hover {
  cursor: pointer;
}

navbar-right a {
  padding-top: 25px;
  cursor: pointer;
}

navbar-right a:hover {
  cursor: pointer;
}

.who-you-are {
  position: relative;
  margin: -20px 20px;
  top: 45px;
  left: -20px;
}

.what-you-are {
  position: absolute;
  top: 15px;
  left: -15px;
}

.what-you-are:hover {
  color: #57CD4A;
}

.c-clockwise {
  transform: scale(-1, 1);
}

.TEDAS_sq {
  border: 1px solid #eee;
  background-color: #456B87;
  position: absolute;
  border-radius: 4px;
}

.TEDAS_sq.activated {
  background-color: #5DA2D6;
}

.aI:hover {
  color: #ff9800;
}

.bN:hover {
  color: #ff9800;
}

.cE:hover {
  color: #ff9800;
}

.iV:hover {
  color: #ff9800;
}

fH:hover {
  color: #ff9800;
}

.FIC_sq.activated {
  background-color: #5DA2D6;
}

.TEDAS_sq:hover {
  background-color: #ff9800;
}

.TEDAS_sq.activatedHoverStyle {
  background-color: #ff9800;
}

.TEDAS_box .glyphicon {
  font-size: 15px;
  position: absolute;
  z-index: 6;
  visibility: hidden;
}

.TEDAS_box {
  position: absolute;
  margin: 10px;
  bottom: 0;
  width: 100%;
  min-height: 40px;
}

.FIC_box {
  position: absolute;
  margin: 10px;
  bottom: 0;
  width: 100%;
  min-height: 40px;
}

.FIC_sq {
  position: absolute;
  background-color: #456B87;
  border: 1px solid #eee;
  border-radius: 4px;
}

.FIC_sq_secret {
  position: absolute;
  background-color: rgb(235,198,143);
  border: 1px solid #eee;
  border-radius: 4px;
  visibility: hidden;
}

.AIC_box {
  position: absolute;
  margin: 10px;
  bottom: 0;
  width: 100%;
  min-height: 40px;
}

.AIC_sq {
  position: absolute;
  background-color: #456B87;
  border: 1px solid #eee;
  border-radius: 4px;
}

// .AIC_sq.activated {
//   background-color: #5DA2D6;
// }

.MH_box {
  position: absolute;
  text-align: right;
  margin: 10px;
  bottom: 0;
  width: 100%;
  min-height: 40px;
}

.MH_sq {
  position: absolute;
  border: 1px solid #eee;
  border-radius: 4px;
}

.MH_sq.onset {
  background-color: #456B87;
}

.MH_sq.onset.activated {
  background-color: #5DA2D6;
}

.MH_sq.rest {
  background-color: #ddd;
}

.MH_sq.onset.columnHovered {
  background-color: #ff9800;
}

.MH_sq.rest.columnHovered {
  background-color: rgb(235,198,143);
}

.FIC_sq.columnHovered {
  background-color: #ff9800;
}

.FIC_sq.semiHovered {
  background-color: #5DA2D6;
}

div.bb-analysis {
  width: 100%;
  height: 200px;
  padding: 15px;
  position: relative;
}

div.bb-analysis:hover h5 {
  color: #58846B;
}

div.bb-analysis h5:hover {
  color: #57CD4A;
}

.a-t-basic.highlighted {
  color: #ff9800;
}

.a-t-interval.highlighted {
  color: #ff9800;
}

.a-t-meter.highlighted {
  color: #ff9800;
}

.a-t-evenness.highlighted {
  color: #ff9800;
}

.a-t-symmetry.highlighted {
  color: #ff9800;
}

.a-t-onset.highlighted {
  color: #ff9800;
}

#bb-analysis-details {
  position: relative;
  height: 450px;
  // overflow-x: hidden;
  // overflow-y: scroll;
  overflow: auto;
  text-size: 9px;
  list-style-type: none;
}

div#bb-info {
  max-height: 420px;
  // overflow-x: hidden;
  // overflow-y: scroll;
  overflow: auto;
}

// div#meter-text {
//   position: absolute;
//   left: 75%;
//   top: 5%;
//   text-align: right;
// }

// div#meter-props {
//   position: absolute;
//   left: 45%;
//   top: 5%;
//   text-align: right;
// }

div.ui-tooltip {
  max-width: 400px;
  padding: 15px;
  border-radius: 4px;
  background-color: rgb(235,198,143);
  position: absolute;
  z-index: 3000;
}

.measurement-name:hover {
  color: #ff9800;
}

.TEDAS_box .contour:hover {
  color: #ff9800;
}

.TEDAS_box .contour.activated {
  color: #ff9800;
  visibility: visible;
}

.TEDAS_box .contour.visibled {
  visibility: visible;
}

div.bb-analysis:hover .contour {
  visibility: visible;
}

.info-icon {
  font-size: 24px;
  font-family: 'Oleo Script Swash Caps', cursive;
  position: absolute;
  left: 95%;
  top: 8%;
  visibility: hidden;
}

.info-icon:hover {
  color: #ff9800;
  cursor: pointer;
}

div.bb-analysis:hover .info-icon {
  visibility: visible;
}

div.fillErUp {
  width: 100%;
}

#evenness-canvas {
  background-color: #ddd;
  border: 1px solid #eee;
  position: absolute;
  left: 5%;
}

.evenness-point {
  font-size: 32px; //changing this requires correcting the offset from 150
  position: absolute;
}

.evenness-point:hover {
  color: #5DA2D6;
  cursor: pointer;
}

.evenness-point.activatedForPlaying {
  color: #5DA2D6;
}

.box-notation-words.activated {
  color: #ff9800;
}

.durational-pattern-words.activated {
  color: #ff9800;
}

.npvi:hover {
  color: #ff9800;
}

.details-link {
  color: #58846B;
  cursor: pointer;
  font-size: 12px;
}

.details-link:hover {
  color: #439a46;
}

.section-title:hover {
  color: #ff9800;
}

.analysis-title {
  z-index: 2000;
  cursor: pointer;
  color: #58846B;
}

.general-link {
  cursor: pointer;
  color: #58846B;
}

.general-link:hover {
  cursor: pointer;
  color: #57CD4A;
}

.symmetry-rhythm-ring {
  position: absolute;
  width: 150px;
  height: 150px;
  border: solid 1px;
  border-radius: 50%;
  z-index: 0;
  // left: 200px;
  top: 25px;
}

.symmetry-cell {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 1px;
  background-color: white;
  color: #888;
  position: absolute;
  transform-origin: 58px 58px;
}

.symmetry-intercell {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 1px;
  background-color: white;
  color: #888;
  position: absolute;
  transform-origin: 58px 58px;
  opacity: 0;
}

.symmetry-cell.onset {
  background-color: #456B87;
}

.symmetry-cell.activated {
  background-color: #ff9800;
}

.symmetry-cell.activatedForPlaying {
  background-color: #5DA2D6;
}

// .playcursor {
//   min-height: 200px;
//   min-width: 200px;
//   position: absolute;
//   background-color: red;
// }

.analysis-title.highlighted {
  color: #ff9800;
}
