durational pattern: (<%= rhythm.get("durational_pattern") %>)
<br><span id="contour">contour: (<%= rhythm.get("contour") %>)<span id="contour">

Time Elements Displayed As Squares. presents interonset intervals simultaneously vertically and horizontally, allowing for perception relative both to context and to each other

<strong>contour</strong> expresses the change in consecutive interval size, either positive, negative, or no change

<li>adjacent interval content entropy: <%= rhythm.get("adjacent_interval_content_entropy") %></li>

<li>adjacent interval content: <%= rhythm.get("adjacent_interval_content") %></li>
