<strong>irregularity</strong> an average of the edit distances between this rhythm and each perfectly even rhythm of this cell count oriented at the same initial onset (i.e. the rhythms which define the metrical hierarchy)

<strong>metrical hierarchy</strong> considers the rhythm in terms of its pulse count)

<strong>metric syncopation</strong> the difference between the total metric weight of this rhythm's onsets and the maximum possible total metric weight of a rhythm with the same number of onsets and cells


<div id='meter-text'>
  <div class='.tooltip-wtf-syncopation'>
    <span class='measurement-name syncopation'>
      metric syncopation: <%= rhythm.get("metric_syncopation") %><br>
    </span>
  </div>

  <span class='measurement-name offbeatness'>
    offbeatness: <%= rhythm.get("offbeatness") %><br>
  </span>

  <span class='measurement-name strongbeatedness'>
    strongbeatedness: <%= rhythm.get("strongbeatness") %><br>
  </span>

  <span class='measurement-name irregularity'>
    irregularity: <%= rhythm.get("irregularity") %><br>
  </span>
</div>

<div id='meter-props'>
  <% if (rhythm.get("has_closure?")) { %>
    <span class='measurement-name closure'>has closure</span>
  <% } %>
  <% if (rhythm.get("has_anacrusis?")) { %>
    <span class='measurement-name anacrusis'>has anacrusis</span>
  <% } %>
</div>
