<h5 class='section-title a-t-onset'>onset complexity</h5>

<br><strong>adjacent interval content entropy: <%= rhythm.get("adjacent_interval_content_entropy") %></strong>

<br><strong>adjacent interval content: <%= rhythm.get("adjacent_interval_content") %></strong>
