<h5 class='section-title'>onset complexity</h5>

adjacent interval content entropy: <%= rhythm.get("adjacent_interval_content_entropy") %>

adjacent interval content: <%= rhythm.get("adjacent_interval_content") %>
