<h5 class='section-title a-t-onset'>onset complexity</h5>

<br><strong class='section-title onset-ddc'>onset distinct distance complexity <%= rhythm.get("onset_distinct_distance_complexity") %></strong>
<% if (Geometrhythm.onsetcomplexity) { %>
  <span class="details-link" data-detailsname="onsetcomplexity" data-associatedtemplate="templateOnset">collapse</span>
  <br>
  <br><span style="margin-left: 1em;">another perspective on intervallic variety is to consider it per onset.
    this measurement takes, for each onset, its count of distinct intervals it
    begins or ends, and then sums them all up.</span>
  <br>
<% } else { %>
  <span class="details-link" data-detailsname="onsetcomplexity" data-associatedtemplate="templateOnset">expand</span>
<% } %>
