<%= JST['info/_name_info']({rhythm: rhythm, primaryName: primaryName, nameDeets: nameDeets}) %>
Created by: <%= rhythm.get("creator") %>

<h6>Play Count: <%= rhythm.get("play_count") %></h6>

as string: <%= rhythm.get("rhythm_str") %><br>
