<br>
<% if (rhythm.get("likers") && rhythm.get("likers").length > 0) { %>
  <% if (likeDeets) { %>
    liked by
    <ul>
      <% rhythm.get("likers").forEach(function(liker) { %>
        <li>
          <span class="view-likes" value="<%= liker.id %>">
            <%= liker.email %>
          </span>
        </li>
      <% }) %>
    </ul>
    <span class="deets_link like_deets_collapse"><br>collapse</span>
  <% } else { %>
    <span class="deets_link like_deets_link"><%= rhythm.get("likers").length %> likes</span>
  <% } %>
<% } %>

<% if ( _(rhythm.get("likers")).pluck("id").indexOf(parseInt($('#cur-user-id').val())) == -1 ) { %>
  <button class='like'>Like</button>
<% } else { %>
  <br>You like this rhythm.
<% } %>
