<% if (rhythm.get("likers") && rhythm.get("likers").length > 0) { %>
  <br>
  Liked by:
  <ul>
    <% rhythm.get("likers").forEach(function(liker) { %>
      <li>
        <%= liker.email %>
        <button class="view-likes" value="<%= liker.id %>" >
          all this user's likes
        </button>
      </li>
    <% }) %>
  </ul>
<% } %>

<br>Your id: <%= $('#cur-user-id').val() %>
<br>Array of likes: <%= _(rhythm.get("likers")).pluck("id") %>

<% if ( _(rhythm.get("likers")).pluck("id").indexOf(parseInt($('#cur-user-id').val())) == -1 ) { %>
  <button class='like'>Like</button>
<% } else { %>
  <br>You like this rhythm.
<% } %>
