<% if (rhythm.get("namings") && rhythm.get("namings").length > 0) { %>
  known as: <strong><%= primaryName %></strong>
  <% if (nameDeets) { %>
    <ul>
      <% rhythm.get("namings").forEach(function(naming) { %>
        <li><%= naming.name.name %></li> (suggested by <%= naming.namer.email %>)
      <% }) %>
    </ul>
    <span class="deets_link name_deets_collapse">collapse</span>
  <% } else if ( rhythm.get("namings").length > 1) { %>
    <span class="deets_link name_deets_link"><br>additional names</span>
  <% } %>
<% } else { %>
  This one doesn't have a name yet. Why don't you name it?
<% } %>
