<strong><%= comment.body %></strong>
&nbsp<span style="font-size: 12px"><%= comment.commenter %></span>
<ul>
  <% comment.comments.forEach(function(subcomment) { %>
    <li>
      <%= JST['info/_rec_comments']({comment: subcomment, enabled: enabled}) %>
    </li>
  <% }); %>
</ul>

<% if (enabled) { %>
  <form class="add-meta-comment">
    <input type="hidden" name="comment[comment_id]" value="<%= comment.id %>">
    <input type="text" name="comment[body]">
    <button class="btn btn-default btn-xs" type="submit">comment</button>
  </form>
<% } %>
