<%= JST['info/_details']({rhythm: rhythm}) %>

<%= JST['info/_name_form']() %>

<br>
<button class="view-collection">Check out this user's other rhythms!</button>

<%= JST['info/_likes']({rhythm: rhythm}) %>

<%= JST['info/_comments']({rhythm: rhythm}) %>
