<h2><strong> BEATS + MATH </strong></h2>
<h4> <strong>explore the rhythmic network. </strong></h4>

<br>press 'PLAY' to hear what you see.
<br>click on / between cells to change it up.
<br>also, drag and drop.
