<% if (!instructionDeets) { %>
  <h2><strong> BEATS + MATH </strong></h2>
  <h4> <strong>explore the rhythmic network. </strong></h4>
<% } %>

<br>
<a href="#" style="margin: 14px 0px; cursor: hover" class="js-modal-open">video tutorial</a>
<br><br>

press <strong>PLAY</strong> to hear what you see. click on / between cells to change it up. also, drag and drop.
you can listen while you're mutating the rhythm. click the thumbnails icon above to browse rhythms.

<% if (!instructionDeets) { %>
  <br>
  <br>this site is deeply indebted to the 2013 book
      <a href="http://www.amazon.com/The-Geometry-Musical-Rhythm-Makes/dp/1466512024"
      target="_blank" > The Geometry of Musical Rhythm</a>,
      by Godfried T. Toussaint. More than merely inspired by it, Geometrhythm is
      basically just an interactive, simplified version of it. If you like this
      site, do yourself a favor and go to the source!
<% } %>


<% if (instructionDeets) { %>
  <br><br>
  <strong>between cells</strong>
  <ul>
    <li><strong>left-click</strong> to insert a new cell</li>
    <li><strong>right-click</strong> to swap </li>
  </ul>

  <strong>on cells</strong>
  <ul>
    <li>
      <strong>left-click and hold</strong> to grab
      <ul>
        <li>drag and drop to a new location</li>
        <li>drag away to remove</li>
      </ul>
    </li>
    <li><strong>right-click</strong> to toggle on/off </li>
  </ul>

  also, check out the complexity analysis.
<% } else { %>
  <br><br>
  <span class="deets_link instruction_deets_link">detailed instructions</span>
<% } %>
