<h2><strong> BEATS + MATH </strong></h2>

<h4> welcome to GEOMETRHYTHM. </h4>
<h4> explore the rhythmic network. </h4>

<br>press 'PLAY' to hear what you see.
<br>click on / between cells to change it up.
<br>you can even drag and drop!
