<input type='hidden' id='current-rhythm' value='<%= rhythm.get("rhythm_str") %>'>

<container>
<div class='col-md-2'>
<interface>
  tempo<br>
  <input type="text" id="input-tempo" value="125"><br><br>
  <button class="btn btn-warning" id="play-pause">Play</button><br><br>
  <button class="btn btn-default btn-sm" id="invert">Invert</button>
</interface>
</div>

<div class='col-md-5'>
<div class='wrapper'>

  <div class='rhythm-ring' oncontextmenu="return false;">
  </div>

  <canvas id='polygon-canvas' height='400' width='400'>
  </canvas>

</div>
<div class='slider'></div>
</div>

<div class='col-md-4'>
  <div class='well'>
    Here's where I'll talk all about what geometrhythm is and what it can do!
    <div id="bb-info-tease"></div>
    <br><button class="btn btn-success btn-lrg" id="save-rhythm">Save Rhythm</button>
  </div>
</div>

</container>
