<container>

  <div class='row'>

    <div class='col-md-2'>
      <interface oncontextmenu="return false;">
      </interface>
    </div>

    <div class='col-md-5'>
      <div class='wrapper' style='min-height: 480px'>
        <div class='rhythm-ring' oncontextmenu="return false;"></div>
        <canvas id='polygon-canvas' height='400' width='400'></canvas>
        <canvas id='polygon-analysis-canvas' height='400' width='400'></canvas>
      </div>
    </div>

    <div class='col-md-4'>
      <div class="well">
        <div id="bb-info"></div>
      </div>
    </div>

  </div>

  <div id='bb-analysis-main'>
  </div>

</container>
