<!DOCTYPE html>
<html>
<head>
  <title>Geometrhythm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- noooo!
  <link href="/assets/application.css" type="text/css">-->
  <!-- yesss! -->
  <!--<%#= stylesheet_link_tag "application" %>-->
</head>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="../assets/images/header_logo.png">
      </a>
      <!--<i class="glyphicon glyphicon-log-in"></i>-->
      <ul class="nav navbar-nav navbar-right">
        <button class="btn btn-primary btn-sm js-modal-open" id="sign-in-up">
          Sign In/Up
        </button>
      <ul>
    </div>
  </div>
</nav>
<%= yield %>

</body>
</html>
