<!DOCTYPE html>
<html>
<head>
  <title>Geometrhythm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- noooo!
  <link href="/assets/application.css" type="text/css">-->
  <!-- yesss! -->
  <!--<%#= stylesheet_link_tag "application" %>-->
</head>
</head>
<body>
  <div class='navbar navbar-brand navbar-static-top'>
    <div class='container'>geometrhythm
      <ul class='nav navbar-nav navbar-right'>
        <li>explore</li>
        <li><i class="glyphicon glyphicon-log-in"></i></li>
      </ul>
    </div>
  </div>

<%= yield %>

</body>
</html>
